<% layout("/layouts/boilerplate") %>

<div class="row mt-4">
  <div class="col-12 text-center">
    <h3>Showcase Your Place</h3>
  </div>
  <div class="card col-md-6 mx-auto show-card">
    <img
      src="<%=listing.image%>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body mt-2">
      <p class="card-text"><b><%=listing.title%></b></p>
      <p class="card-text"><%=listing.description%></p>
      <p class="card-text">
        &#8377;<%=listing.price.toLocaleString("en-IN") %>
      </p>
      <p class="card-text"><%=listing.location%></p>
      <p class="card-text"><%=listing.country%></p>
    </div>
  </div>
  <div class="btns mb-5">
    <a href="/listings/<%=listing._id%>/edit" class="btn themed-btn edit-btn">
      Edit this listing
    </a>
    <form
      action="/listings/<%=listing._id%>?_method=DELETE"
      method="post"
      style="display: inline"
    >
      <button class="btn themed-btn delete-btn">delete this listing</button>
    </form>
  </div>
</div>
